params {
  samplesheet = "data/test/samplesheet.csv"
  fastq_splitSize = 5 // based on past testing, 5000 records per file should give good performance
  results_dir = "results"
}

profiles {

    standard {
        process.executor = 'local'
    }
    
    docker { docker.enabled = true }
	
	 arm {
        docker.runOptions      = '-u $(id -u):$(id -g) --platform=linux/amd64'
	}

}